<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header class="header">  <!-- HEADER -->
        <!-- LOGO -->
        <figure class="header-logo">
           <a href="/"> <img src="/img/logo-mercado-liebre.svg" alt=""></a>
        </figure>

        <!-- BUSCADOR -->
        <div class="header-search">
        <div class="header-search--bar" >
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>            
        </div>
    </div>

        <!-- FRASE -->
        <div class="header-frase">
        <i class="fas fa-hand-holding-usd"></i>
        <span>Compra en cuotas y sin tarjetas de crédito</span>
        </div>

        <!-- MENU -->
        <div class="header__navs">
            <nav class="header__nav">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>

            <!-- LOGIN -->
            <nav class="header__nav">
                <ul>
                    <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
        <!-- MENU HAMBURGUESA -->
        <div class="header-button--bars">
        <span><i class="fas fa-bars"></i></span>
        </div>
    </header>
    
</body>
</html>