.footer {
    padding: 40px 0px 15px;
    color: var(--grisOscuro);
    font-size: 0.7rem;
    text-align: center;
}

/* SECCIONES */
.footer-sections{
    padding: 0px 40px;   
    margin-bottom: 40px;
}
.footer-icons {
    color: var(--celeste);
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.footer-sections h4{
    font-size: 0.9rem;
   }
   
/* COPYRIGHT */
.footer-copyright p{
    text-align: left;
    font-size: 0.6rem;
    padding-left: 17px;

}