/* MOBILE */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--amarillo);
    padding: 15px;
    font-size: 0.7rem;
}
         /* LOGO */
.header-logo {
    padding: 8px;
    width: 50%;
 }

.header img{
width: 100%;
}

        /* BUSCADOR */
.header-search {
    width: 50%;
}

.header-search--bar{
    flex-grow: 1;
    height: 25px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grisClaro);
    border-radius: 5px;
    background-color: #ffffff;
}

.header-search input{
    background-color: transparent;
    border: none;
    height: 25px;
    width: 100%;
}
.header-search button {
    background-color: transparent;
    border: none;
    border-left: solid 1px var(--grisClaro);
    border-radius: 3px; 
    padding: 2px;
    color: gray;
    line-height: 0;
}

        /* FRASE */
.header-frase {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 0.75rem;
}

        /* MENU / LOGIN NAVS*/
.header__navs{
    margin: 15px 0px;
    display: none;
}

.header__navs ul li a i{
    margin-left: 5px;
}

        /* MENU HAMBURGUESA */
.header-button--bars {
    width: 35px;
    height: 35px;
    margin: 20px auto 5px;
    background-color: var(--celeste);
    border: none;
    border-radius: 5px;
    color: var(--blanco);
    text-align: center;
    padding-top: 8px;
}
.header-button--bars i {
    font-size: 20px;
}


/* TABLET */
@media (min-width: 481px) {
.header {
    justify-content: space-between;
}
.header-logo {
    padding: 0;
     width: 30%;
 } 
 .header-search {
    width: 28%;
}   
.header-frase {
    width: 33%;
}

        /* MENU / LOGIN NAVS*/    
.header__navs {
    margin: 30px 0 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__navs ul{
    display: flex;
    justify-content: space-around;
}
.header__nav{
    width: 38%;
}
        /* MENU HAMBURGUESA */
.header-button--bars {
    display: none;
}
}

/* DESKTOP */
@media (min-width: 769px) {

    /* HEADER */
        /* LOGO */
.header-logo{
    width: 20%;
}
    /* NAVS MENU */
.header__navs li a{
    font-size: 0.9rem
}
}


