/* MOBILE */
.header {
    background-color: var(--amarillo);
    padding: 30px 5px 15px;
    font-size: 0.7rem;
}
         /* LOGO */
.header-logo {
margin-left: 30px;
width: 125px;
}

        /* BUSCADOR */
.header-search {
    margin-left: 17px;
    margin-top: 10px;
    margin-bottom: 0;
}
.header-search input{
    display: inline;
}
.header-search button {
    border: solid 1px rgb(131, 131, 131);
    margin-top: 2px;
    border-radius: 3px;
    padding: 2px;
}

        /* FRASE */
.header-frase {
text-align: center;
margin-top: 10px;
font-weight: 600;
font-size: 0.7rem;
}

        /* MENU */
.header__nav-menu {
    margin: 15px 0px;
    display: none;
}

        /* LOGIN */
.header__nav-login{
display: none;
}

.header__nav-login ul li a i{
    margin-left: 5px;
}

        /* MENU HAMBURGUESA */
.header-button--bars {
    width: 35px;
    height: 35px;
    margin: 20px auto 5px;
    background-color: var(--celeste);
    border: none;
    border-radius: 5px;
    color: var(--blanco);
    text-align: center;
    padding-top: 8px;
}
.header-button--bars i {
    font-size: 20px;
}


/* TABLET */
@media (min-width: 361px) {
        
        /* MENU */
.header__nav-menu {
     display: block;
 }
        
         /* LOGIN */
.header__nav-login{
    display: block;
}
        /* MENU HAMBURGUESA */
.header-button--bars {
    display: none;
}
}

/* DESKTOP */
@media (min-width: 769px) {}



