/* MOBILE */

/* HOME */
.home {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* BANNER */
.home__top-banner {
  width: 100%;
}

/* PRUDUCTOS */
.home__productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home__productos h2 {
  color: var(--grisOscuro);
  margin: 15px 0px;
  width: 100%;
  text-align: left;
}

.home__productos__article {
  margin-top: 10px;
  background-color: #ffff;
  text-align: right;
}
/* PRODUCTOS IMAGEN */
.home__productos__article image {
  width: 100%;
}
/* PRODUCTOS PROPIEDADES */
.home__productos__article .productos-propiedades {
  position: relative;
  text-align: left;
  border-top: solid 1px #ebebeb;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.home__productos__article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  color: var(--verde);
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.home__productos__article .productos-propiedades p {
  display: block;
  width: 30%;
}

.home__productos__article .productos-propiedades span {
  color: var(--verde);
  text-transform: lowercase;
  width: 70%;
}

.home__productos__article .productos-propiedades h3 {
  display: none;
  margin-top: 20px;
}

/* TABLET */
@media (min-width: 481px) {

  /* PRUDUCTOS */
  .home__productos {
  }

  .home__productos__article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 49%;
  }
  /* PRODUCTOS IMAGEN */
  .home__productos__article image {
  }
  /* PRODUCTOS PROPIEDADES */
  .home__productos__article .productos-propiedades {
  }

  .home__productos__article i {
  }

  .home__productos__article .productos-propiedades p {
  }

  .home__productos__article .productos-propiedades span {
  }

  .home__productos__article .productos-propiedades h3 {
    display: block;
  }
}

/* DESKTOP */
@media (min-width: 769px) {
  /* PRUDUCTOS */
  .home__productos {
  }

  .home__productos__article {
    width: 24%;
  }
  /* PRODUCTOS IMAGEN */
  .home__productos__article image {
  }
  /* PRODUCTOS PROPIEDADES */
  .home__productos__article .productos-propiedades {
  }

  .home__productos__article i {
  }

  .home__productos__article .productos-propiedades p {
  }

  .home__productos__article .productos-propiedades span {
  }

  .home__productos__article .productos-propiedades h3 {
  }
}
