/*
●Paleta de colores
    Amarillo: #EAC926;
    Azul: #03264C;
    Celeste: #1259c3;
    Gris oscuro: #666;
    Gris claro: #ebebeb;
    Verde: #39b54a;

●Tipografías
    Familia: 'Roboto'

●Tamaños Tipográficos
    Cuerpos de texto: 12px
    Titulares (Basado en tu última visita/Ofertas): 24px
    Precios: 18px
    Descuentos: 16px
    Descripciones: 16px
*/

:root {
    /* COLORES */
    --amarillo : #EAC926;
    --azul : #03264C;
    --celeste : #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --blanco: #f2f2f2; 

    /* FUENTES */
    --tipografia : 'Roboto', sans-serif;

    /* TAMAÑOS */
    --dimCuerpo : 12px;
    --dimTitulos : 24px;
    --dimPrecios : 18px;
    --dimDescuentos : 16px;
    --dimDescripciones : 16px;
}