<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Mercado Liebre | Home'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>


	<!-- /Register -->
    <main class="home__register">
        <form class="home__regcontainer" action="/registro" method="post">
            <h3>Datos de Usuario</h3>
           <input placeholder="Nombre y apellido" class="home__regcontainer-line" type="text" name="Nombre" id="">
           <input placeholder="Nombre de usuario" class="home__regcontainer-line" type="text" name="Nombre de Usuario" id="">
           <input placeholder="E-mail" class="home__regcontainer-line" type="e-mail" name="E-mail" id="">
           <h3>Fecha de Nacimiento</h3>
           <input class="home__regcontainer-line" type="date" name="Fecha" id="">
           <input placeholder="Domicilio" class="home__regcontainer-line" type="text" name="Dirección" id="">
           <h3>Perfil del Usuario</h3>
           <div class="home__regcontainer-radiocontainer">
           <input class="home__regcontainer-radio" type="radio" name="Perfil" value="Comprador" id="comprador">
           <label class="home__regcontainer-radiolabel" for="comprador">Comprador</label>
           <input class="home__regcontainer-radio" type="radio" name="Perfil" value="Vendedor" id="vendedor">
           <label class="home__regcontainer-radiolabel" for="vendedor">Vendedor</label>          
           </div>
           <h3>Intereses</h3>
           <div class="home__regcontainer-checkcontainer">         
            <input class="home__regcontainer-check" type="checkbox" name="Intereses" value="Electro" id="electro">
            <label class="home__regcontainer-checklabel" for="electro">Electro</label>          
            <input class="home__regcontainer-check" type="checkbox" name="Intereses" value="Moda" id="moda">
            <label class="home__regcontainer-checklabel" for="moda">Moda</label>          
            <input class="home__regcontainer-check" type="checkbox" name="Intereses" value="Hogar" id="hogar">
            <label class="home__regcontainer-checklabel" for="hogar">Hogar</label>          
            <input class="home__regcontainer-check" type="checkbox" name="Intereses" value="Jugueteria" id="jugueteria">
            <label class="home__regcontainer-checklabel" for="jugueteria">Jugueteria</label>          
            <input class="home__regcontainer-check" type="checkbox" name="Intereses" value="Vida Sana" id="vidaSana">
            <label class="home__regcontainer-checklabel" for="vidaSana">Vida Sana</label>          
            </div> 
        </form>
    </main>
    
</body>
</html>